.friends_users{
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #dce1e6;
}


.wrap_user_info{
  display: flex;
  align-items: center;
}

.friends_users:last-child{
  border: 0;
}

.friends_users_photo img{
  width: 80px;
  border-radius: 50%;
}

.friends_users_name{
  margin-left: 30px;
}

.message_friends{
  margin-right:30px;
}