.wrapContent {
    grid-area: wrap-content;
    background-color: darkcyan;
  }
  
  .backMyProfile img {
    height: 350px;
  }
  
  .myPhoto img {
    width: 180px;
  }
  
  .wrapAboutMe {
    display: flex;
  }