.wrapMessageUser{
  border-bottom: 1px solid #dce1e6;
}

.senderPhoto{
  display: flex;
  align-items: center;
  padding: 15px;
  color:black;
  cursor: pointer;
}

.senderPhoto:hover{
  background-color: #dce1e6;
}

.senderPhoto:last-child{
  border: none;
}

.senderPhoto img{
  height: 50px;
  border-radius: 50%;
}

.active{
  font-weight: 900;
}